.DS_Store
node_modules/

# Hugo generated resources
resources/_gen/
hugo_stats.json

# Python cache files
__pycache__/
*.py[cod]
.pytest_cache/

# Local/generated Hugo directories
public/
_vendor/

# Hugo local build lock
.hugo_build.lock
